!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h4
      We have received your application for this year's BearRiver Conference. We will contact you soon with further instructions
    %p 
      = link_to "Bear River Conference site", "https://lsa.umich.edu/bearriver"
    %p Thank you, 